body {
    width: 960px;
    margin: auto;
}

 h1 {
      background-color: #8F93D9;
      color: #312A40; 
      text-align: center;
      padding: 15px;
  }

p {
    text-align: center;
  }

form {
    margin-top: 30px;
}  

Table {
    border: 2px solid #F29D52;
    border-radius: 5px;
    background-color: #8F93D9;
    margin-top: 40px;
    width: 100%;
  }

  td {
      text-align: center;
  }
